:root {
  --font-main: 'Playfair Display', 'Georgia', serif;
  --font-secondary: 'Roboto', 'Arial', 'Helvetica', sans-serif;

  --color-primary-light: #85ac84;
  --color-primary: #6f8b6e;
  --color-primary-dark: #565956;
  --color-secondary-light: #aa96ac;
  --color-secondary: #8a6e8b;
  --color-secondary-dark: #643265;
  --color-background: #ffffff;
  --color-shadow: #00000050;
  --color-font-light: #ffffff;
  --color-font-dark: #000000;

  --color-button: var(--color-secondary);
  --color-button-outline: var(--color-secondary-dark);
  --color-button-hover: var(--color-secondary-light);

  --body-max-width: 2024px;
  --gap-default-width: 32px;
  --project-card-screenshot-ratio: 0.5;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  height: 100%;
  font-size: 16px;
}

picture > img {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-font-dark);
  background-color: var(--color-background);
  font-family: var(--font-main);
  font-size: 1rem;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  line-height: 1.2;
}

body > * {
  padding-block: var(--gap-default-width);
  padding-inline: calc(var(--gap-default-width) * 2);
  background-color: var(--color-primary);
}

main {
  background-color: var(--color-background);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > * > div {
  max-width: var(--body-max-width);
  width: 100%;
  margin-inline: auto;
}

:link {
  text-decoration: inherit;
  color: inherit;
}

.link-icon > img {
  display: block;
}

.link-icons-container {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.icon {
  vertical-align: baseline;
  width: auto;
}

.card {
  box-shadow: var(--color-shadow) 2px 2px 10px;
  background-color: var(--color-background);
}

.card-label {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.disabled {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 34px;
}

::-webkit-scrollbar-track {
  background: #00000010;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-shadow);
  border-radius: 8px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  border-radius: 16px;
}

button {
  background-color: var(--color-button);
  border-width: 0;
  outline: none;
  border-radius: 0.3em;
  box-shadow: 0 1px 4px var(--color-shadow);
  font-family: var(--font-secondary);
  font-size: 1.5em;
  height: 2.5em;
  width: 8em;
  transition: background-color .3s;
  overflow: hidden;
  position: relative;
}

button > * {
  position: relative;
}

button span {
  display: block;
  padding: auto;
}

button:hover {
  background-color: var(--color-button-hover);
}

button:focus {
  outline: var(--color-button-outline) solid 3px;
  box-shadow: 0 0 9px var(--color-button-outline);
}

button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(240, 240, 240, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

header {
  position: relative;
}

header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 50%;
  background-image:
    linear-gradient(to top left,
      var(--color-background) 50%,
      #00000000 50%);
}

header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 90%;
  width: 100%;
  height: 12%;
  background-color: var(--color-background);
}

header > div {
  position: relative;
  z-index: 1;
}

header div.card {
  padding: 2rem;
}

header .picture-spacer {
  display: none;
}

header h1.label {
  color: var(--color-font-light);
}

header .icon {
  height: 3em;
}

.projects-container {
  margin-block: calc(var(--gap-default-width) * 2);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: calc(var(--gap-default-width) * 2);
  font-size: 1.5rem;
}

.project-card {
  display: grid;
  grid-template-rows: calc(100% * var(--project-card-screenshot-ratio)) calc(100% - (100% * var(--project-card-screenshot-ratio)));
  grid-template-columns: 1fr;
  width: min(450px, 100%);
  aspect-ratio: calc(16 / 9 * var(--project-card-screenshot-ratio));
}

.project-card .screenshot {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.project-card div.screenshot {
  display: flex;
}

.project-card .screenshot-label {
  max-width: 50%;
  text-align: center;
  color: var(--color-font-light);
}

.project-card-grid {
  padding: var(--gap-default-width);
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 2rem 1fr;
  grid-template-areas: 'label links' 'description description';
  grid-gap: var(--gap-default-width);
  align-items: center;
}

.project-card-grid > div {
  grid-area: links;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.project-card-grid > h2 {
  font-size: 1.5em;
  grid-area: label;
}

.project-card-grid > p {
  grid-area: description;
  align-self: flex-start;
  height: 100%;
  overflow-y: auto;
}

.project-card-grid .icon {
  height: 1.5em;
}

footer {
  color: var(--color-font-light);
}

footer > div > div {
  display: flex;
  gap: var(--gap-default-width);
  justify-content: space-between;
}

footer .text-container {
  flex: 1 1 min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

footer .link-icons-container {
  justify-content: flex-start;
}

footer .icon {
  height: 1em;
  filter: invert(1);
  vertical-align: middle;
}

footer .link-icon .icon {
  height: 4em;
  width: auto;
  filter: initial;
}

footer picture {
  max-width: 60%;
  flex: 0 1 auto;
  display: flex;
  align-self: flex-end;
}

footer picture > img {
  flex: 1;
  width: 100%;
}

#back-to-top {
  margin-top: var(--gap-default-width);
  width: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 0.5s ease-out;
}

header .hidden,
footer .hidden {
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

header .show,
footer .show {
  transform: translateY(0);
}


@media (prefers-reduced-motion) {

  button:active:before,
  .hidden {
    transition: none;
  }
}

@media screen and (width >= 1200px) {
  header > div {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: max-content;
  }

  header h1.label {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    padding: var(--gap-default-width);
    display: flex;
    align-items: end;
    text-align: center;
    width: 0;
    min-width: calc(100% - 2 * var(--gap-default-width));
  }

  header picture {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
  }

  header div.card {
    grid-area: 1 / 1 / -1 / -1;
    margin-block: var(--gap-default-width);
    margin-left: var(--gap-default-width);
  }

  header .text-container {
    margin-block: var(--gap-default-width);
    padding: var(--gap-default-width);
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: 0;
    min-height: calc(100% - 4 * var(--gap-default-width));
  }

  header .text-container > .description {
    flex: 1;
    overflow-y: auto;
  }
}

@media screen and (500px <= width < 1200px) {
  header {
    --header-grid-photo-text-padding: 25vw;
    padding-inline: var(--gap-default-width);
  }

  header > div {
    display: grid;
    grid-template-columns: calc(130px + 100vw / 5.7) calc(100vw - (130px + 100vw / 5.7) - 2 * var(--gap-default-width));
    grid-template-rows: min-content var(--header-grid-photo-text-padding) 1fr;
  }

  header h1.label {
    grid-area: 1 / 2 / 2 / -1;
    z-index: 2;
    padding-block: var(--gap-default-width);
    padding-right: var(--gap-default-width);
    display: flex;
    width: 110%;
    transform: translateX(-10%);
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header picture {
    grid-area: 1 / 1 / -2 / 2;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  header picture > img {
    width: 100%;
    height: 100%;
  }

  header div.card {
    grid-area: 2 / 1 / -1 / -1;
    margin-inline: var(--gap-default-width);
  }

  header .text-container {
    grid-area: 2 / 1 / -1 / -1;
    margin-inline: var(--gap-default-width);
    padding: var(--gap-default-width);
  }

  header h2.label {
    margin-block: 3rem;
    text-align: center;
  }

  header .description {
    margin-bottom: 1rem;
  }

  header .picture-spacer {
    display: grid;
    float: left;
    width: calc(130px + 100vw / 5.7 - var(--gap-default-width));
    height: var(--header-grid-photo-text-padding);
  }
}

@media screen and (500px <= width < 850px) {
  :root {
    --gap-default-width: 16px;
  }

  header h1.label {
    font-size: 3rem;
  }

  header h2.label {
    margin-block: 2rem;
    font-size: 2.5rem;
  }

  header,
  footer {
    padding-block: calc(var(--gap-default-width) * 2);
  }

  header {
    padding-top: var(--gap-default-width);
  }

  footer > div > div {
    flex-direction: column;
    gap: calc(var(--gap-default-width) * 2);
  }

  footer picture {
    max-width: 100%;
  }

  #back-to-top {
    margin-top: calc(var(--gap-default-width) * 2);
  }
}

@media screen and (width < 500px) {
  :root {
    --gap-default-width: 16px;
  }

  header {
    background-color: var(--color-background);
  }

  header::before {
    left: calc(var(--gap-default-width) * -1);
    top: -100%;
    width: calc(100% + var(--gap-default-width) * 2);
    height: calc(100% + 100vw / 2);
    background-color: var(--color-primary);
    background-image: unset;
  }

  header::after {
    left: calc(var(--gap-default-width) * -1);
    top: calc(100vw / 2);
    width: calc(100% + var(--gap-default-width) * 2);
    height: calc(100vw / 2);
    background-image: 
      linear-gradient(to top left,
        #00000000 50%,
        var(--color-primary) 50%);
  }

  .header-photo-container > picture {
    justify-content: center;
  }

  header .card:first-child {
    box-shadow: initial;
    background-color: initial;
    padding: 0;
  }

  footer,
  main,
  header {
    padding: var(--gap-default-width);
  }

  header {
    padding-bottom: var(--gap-default-width)
  }

  footer {
    padding-top: var(--gap-default-width)
  }

  header div.card {
    display: none;
  }

  header > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  header > div,
  footer > div,
  footer > div > div {
    gap: calc(var(--gap-default-width) * 2);
  }

  header picture {
    grid-area: 1 / 1 / 2 / -1;
  }

  header picture > img {
    width: 100%;
  }

  header h1.label {
    grid-area: 1 / 1 / 2 / -1;
    z-index: 1;
    display: flex;
    text-align: center;
    align-items: end;
    padding-bottom: var(--gap-default-width);
  }

  h2:not(.card-label) {
    text-align: center;
  }

  header .text-container {
    grid-area: 2 / 1 / -1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  footer > div > div {
    flex-direction: column;
  }

  footer picture {
    max-width: initial;
    width: 100%;
  }

  header .text-container .link-icons-container,
  footer .text-container .link-icons-container {
    align-self: center;
  }
}

@media screen and (width < 350px) {
  :root {
    --gap-default-width: 8px;
    --project-card-screenshot-ratio: 0.45;
  }

  h1 {
    font-size: min(4rem, max(18vw, 2rem));
  }

  h2 {
    font-size: min(3rem, max(16vw, 1.75rem));
  }

  p,
  span {
    font-size: min(1.5rem, max(8vw, 1rem));
  }

  .project-card .screenshot-label {
    max-width: calc(100% - var(--gap-default-width) * 2);
  }

  .project-card-grid > h2 {
    font-size: min(2rem, max(12vw, 1.5rem));
  }

  .project-card-grid .icon {
    height: min(2rem, max(12vw, 1.5rem));
  }

  header .icon {
    height: min(3em, max(16vw, 2em));
  }

  footer .link-icon .icon {
    height: min(3em, max(16vw, 2em));
  }
}

@media screen and (width < 200px) {
  :root {
    --project-card-screenshot-ratio: 0.4;
  }

  footer,
  main,
  header {
    padding: 2px;
  }

  header {
    padding-bottom: var(--gap-default-width)
  }

  main .card-label {
    overflow: hidden;
  }

  footer {
    padding-top: var(--gap-default-width)
  }

  .text-container {
    padding-inline: calc(var(--gap-default-width) / 2);
  }

  h1,
  h2,
  h3,
  p,
  span {
    word-wrap: break-word;
    word-break: break-all;
  }
}